.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(216, 245, 231);
  border: 1px solid rgb(191, 219, 206);
  height: 30px;
  width: 300px;
  text-align: left;
  margin: 6px 0;
  padding: 10px;
  padding-left: 15px;
  cursor: pointer;
}

.item.purchased {
  background: rgb(219, 217, 217);
  text-decoration: line-through;
}

.shopping-list {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
